<div class="card card-chat-online">
  <%= image_pack_tag "icon-doc-black.svg", alt: "icon containing learning materials" %>
  <h3 class="card__header">
    <%= truncated_header %>
  </h3>

  <div class="card__snippet">
    <p><%= snippet %><p>
  </div>

  <footer class="card__footer" data-controller="talk-to-us">
    <a href="#" data-action="talk-to-us#startChat" class="git-link">
      <%= link_text %> <%= helpers.fas_icon("chevron-right") %>
    </a>

    <a href="#" class="git-link no-js-fallback">
      Chat to us <%= helpers.fas_icon("chevron-right") %>
    </a>
  </footer>
</div>
