<div class="event-form">
  <%= link_to "Return to pending events",
              internal_provider_events_path, method: :get,
              class: "govuk-back-link" %>
  <%= govuk_form_for @provider_event do |f| %>
    <h1>
      Provider Event Details
    </h1>

    <%= f.govuk_error_summary %>
    <%= f.govuk_text_field :event_name, label: { text: 'Event name' } %>
    <%= f.govuk_text_area :event_summary, label: { text: 'Event summary' } %>
    <%= f.govuk_text_area :event_description, label: { text: 'Event description' } %>

    <%= f.govuk_radio_buttons_fieldset(:building_fieldset, legend: { size: 'm', text: 'Event venue' }) do %>
      <%= f.govuk_radio_button :building_fieldset, 'search', label: { text: 'Search existing venues' },
                               link_errors: true do %>
        <div id="search-building-input">
          <%= f.govuk_collection_select :building,
                                        @provider_event.get_building_options,
                                        :id,
                                        :name,
                                        label: { text: 'Search for existing buildings by postcode' } %>
        </div>

      <% end %>
      <%= f.govuk_radio_divider %>
      <%= f.govuk_radio_button :building_fieldset, 'manual', label: { text: 'Add a new venue' } do %>
        <div id="manual-building-input">
          <%= f.govuk_text_field :venue, label: { text: 'Venue' }, id: "venue" %>
          <%= f.govuk_text_field :address_line_1, label: { text: 'Address line 1' } %>
          <%= f.govuk_text_field :address_line_2, label: { text: 'Address line 2' } %>
          <%= f.govuk_text_field :address_line_3, label: { text: 'Address line 3' } %>
          <%= f.govuk_text_field :address_postcode, label: { text: 'Postcode' } %>
        </div>
      <% end %>
    <% end %>
    <%= f.button "Submit for review", class: "call-to-action-button button" %>
  <% end %>
</div>
